@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
nav {
  width: 1280px;
  height: 50px;
}

.nav_image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 110px;
}

.nav_titulo {
  font-size: 20px;
  margin-top: 25px;
  margin-left: 8px;
  font-weight: bold;
}

.texto_principal {
  margin-top: 20px;
  margin-left: 110px;
  font-size: 28px;
  font-weight: bold;
}

.novedades {
  display: flex;
}

.product_main {
  margin-left: 110px;
}

.product_image {
  width: 603px;
  height: 314px;
  border-radius: 20px;
}

.product_date{
  width: 515px;
  height: 27px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #171717;
}

.product_text{
  width: 600px;
  height: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}